body{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    font-family:'Roboto';
}

.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.registerForm{
    width: 90%;
}

.Container-form{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.TextExterno{
    margin-top: 20px;
    border: 1px solid black;
    height: 30px;
}

.TextInterno{
    border: 1px solid black;
    height: 30px;
    margin-left: 20px;
}

.inputGroup{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonRegister{
    width: 80%;
    height: 40px;
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}

.ContButton{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: transparent;
    border: 2px solid purple;
    color: purple;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}
.btn.pressed {
    background-color: purple;
    color: white;
}

.ContButSelec{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    margin-top: 380px;
}